.predictionpage-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
    padding: 20px;
    position: relative;
  }

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

.chart-container {
  width: 200%; 
  max-width: 1200px; 
  height: 1200px;  
  margin-top: 20px; 
  position: relative; 
}

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the header */
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  
  .header-title {
    margin-right: 0px; /* Add space between the header and the button */
  }
  
  .back-home-button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: fixed;  /* Use fixed to keep it in place even on scroll */
    left: 20px;  /* Distance from the left edge of the screen */
    top: 20px;  /* Distance from the top edge of the screen */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.1s ease-in-out;  /* Smooth transition for active state */
  }
  
  .back-home-button:active {
    box-shadow: 0px 0px 0px 0px;  /* Remove the box shadow on active state */
    transform: scale(0.95);  /* Slightly scale down the button to indicate it's being pressed */
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .get-prediction-button  .back-home-button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .get-prediction-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add spacing between buttons */
    margin-bottom: 20px;
  }
  
  .water-droplet-button {
    background-color: #00f;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .water-droplet-button:hover {
    background-color: #00c;
  }

  .hydrate-periods-container {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .hydrate-periods-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hydrate-periods-container li {
    margin: 5px 0;
    font-size: 16px;
  }



